<body data-new-gr-c-s-check-loaded="14.1083.0" data-gr-ext-installed="">

    <main>
        <div class="b-example-divider"></div>

        <h1 class="visually-hidden">Home page</h1>

        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Voting dApp</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Your voting dApp to cast votes, delegate and query results on chain! Request voting tokens to be
                    minted upon claim! If you are lucky view (bonus) a list of recent votes which are stored in our
                    backend and display on our frontend!
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3"
                        routerLink="/dashboard">Login</button>
                </div>
            </div>
        </div>

        <div class="b-example-divider"></div>


    </main>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>